*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 10px;
    background-color: #A365FF;
}

header{
    display: flex;
    justify-content: space-between;
}

#login:hover{
    cursor: pointer;
}
input{
    text-align: center;
}

#start-station, #end-station{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

label{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bolder;
    font-size: large;
}
select{
    border-radius: 7px;
}
select:hover, option:hover{
    cursor: pointer;
}