*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 10px;
    background-color: #9CC0F9;
}

header{
    display: flex;
    justify-content: space-between;
}

#login:hover{
    cursor: pointer;
}
input{
    text-align: center;
}
input[type="date"]{
    margin-left: 35%;
    margin-top: 20px;
}
input[type="time"]{
    margin-left: 38%;
    margin-top: 20px;
    width: 110px;
}
select{
    padding: 3.5px 0px;
}

#start-station, #end-station{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

label{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bolder;
    font-size: large;
}
select, input[type="date"], input[type="time"]{
    border-radius: 7px;
    border: 0.5px solid black;
}
select:hover, option:hover, input[type="date"]:hover, input[type="time"]:hover{
    cursor: pointer;
}
#submit-btn{
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
    padding: 7px 12px;
    border:transparent;
    border-radius: 14px;
    background-color: #1A73E8;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.2s ease;
}
#submit-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: 220px 67px auto auto auto;
    margin-top: 20px;
}